@model Canducci.Pagination.Paginated<People>
@{
    ViewData["Title"] = "Home Page";
}

<br /><br /><br />

@foreach (var item in Model)
{
    <div>@item.Id - @item.Name</div>
}
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.PreviousNext, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.FirstPreviousNextLast, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.Numbers, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.NumbersWithPreviousNext, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.NumbersWithFirstPreviousNextLast, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>

<h3>TagHelper</h3>

<div>
    <pagination pagination-asp-action="Index"
                pagination-asp-controller="Home"
                pagination-style="PreviousNext"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior"
                pagination-css-class-anchor="page-link"
                pagination-css-class-li="page-item"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>
<div>
    <pagination pagination-asp-action="Index"
                pagination-asp-controller="Home"
                pagination-style="FirstPreviousNextLast"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior"
                pagination-label-first="Primeiro"
                pagination-label-last="Último"
                pagination-css-class-anchor="page-link"
                pagination-css-class-li="page-item"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>

<div>
    <pagination pagination-asp-action="Index"
                pagination-asp-controller="Home"
                pagination-style="Numbers"
                pagination-css-class-li-active="active"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior"
                pagination-label-first="Primeiro"
                pagination-label-last="Último"
                pagination-css-class-anchor="page-link"
                pagination-css-class-li="page-item"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>

<div>
    <pagination pagination-asp-action="Index"
                pagination-asp-controller="Home"
                pagination-style="NumbersWithPreviousNext"
                pagination-css-class-li-active="active"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior"
                pagination-label-first="Primeiro"
                pagination-label-last="Último"
                pagination-css-class-anchor="page-link"
                pagination-css-class-li="page-item"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>

<div>
    <pagination pagination-asp-action="Index"
                pagination-asp-controller="Home"
                pagination-style="NumbersWithFirstPreviousNextLast"
                pagination-css-class-li-active="active"
                pagination-css-class-ul="pagination"
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior"
                pagination-label-first="Primeiro"
                pagination-label-last="Último"
                pagination-css-class-anchor="page-link"
                pagination-css-class-li="page-item"
                pagination-css-class-li-disabled="disabled">
    </pagination>
</div>

<div>
    <pagination pagination-asp-action="Index"
                pagination-asp-controller="Home"
                pagination-style="NumbersWithFirstPreviousNextLast"                
                pagination-paginated="Model"
                pagination-label-next="Próximo"
                pagination-label-previous="Anterior">
    </pagination>
</div>