@model Canducci.Pagination.Paginated<People>
@{
    ViewData["Title"] = "Home Page";
}

<br /><br /><br />

@foreach (var item in Model)
{
    <div>@item.Id - @item.Name</div>
}
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.PreviousNext, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page}), PaginatedStyle.FirstPreviousNextLast, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.Numbers, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.NumbersWithPreviousNext, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>
<div>
    @Html.Pagination(Model, page => Url.Action("Index", new { page = page }), PaginatedStyle.NumbersWithFirstPreviousNextLast, new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })
</div>

<h3>TagHelper</h3>

<pagination page-options="@(new PaginatedOptions { NextLabel = "Próximo", PreviousLabel = "Anterior", FirstLabel = "Primeiro", LastLabel = "Último" })"            
            page-style="NumbersWithFirstPreviousNextLast" page-paginated="Model">
</pagination>





